<nav>
    <a routerLink="">home</a>
    <a *ngIf="!islogged" routerLink="/login">login</a>
    <a *ngIf="!islogged" routerLink="/register">register</a>
    <a *ngIf="islogged" routerLink="/" (click)="onLogOut()">logout</a>
    <a *ngIf="islogged" routerLink="/editor">new article</a>
    <a *ngIf="islogged" routerLink="/setting">setting</a>
    <a *ngIf="islogged" routerLink="/profile">profile</a>
</nav>


<!-- <div id="pform" class="pform">
    <form [formGroup]="articleForm" (ngsubmit)="onSubmit()" id="form" class="form">
        <div id="ptitle" class="ptitle">
            <label for="title">title</label>
            <input type="text" id="title" name="title" formControlName="title" />
        </div>

        <div id="pdescription" class="pdescription">
            <label for="des">description</label>
            <input type="text" id="description" name="description" formControlName="description" />
        </div>

        <div id="divtag" class="divtag">
            <div id="ptags" class="ptags">
                <label for="tags">tags</label>
                <div style="display: flex; flex-direction: column">
                    <div>
                        <input type="text" d id="tags" name="tags" formControlName="tags" (keydown)="enter($event)"
                            [(ngModel)]="smalltag" />
                    </div>
                    <div #tagContainer id="dtags" class="dtags"
                        [ngStyle]="{ display: card.tags.length == 0 ? 'none' : 'flex' }"
                        style="display: flex; flex-wrap: wrap"></div>
                </div>
            </div>
        </div>
        <div id="button" class="button">
            <button type="submit" [disabled]="!articleForm.valid">submit</button>
        </div>
    </form>
</div> -->




<!-- <div *ngIf="! articleForm.controls.title?.valid && ( articleForm.controls.title?.touched)" id="error">
        <div>title is required</div>
    </div>
    <div *ngIf="! articleForm.controls.description.valid && ( articleForm.controls.description.dirty || articleForm.controls.description.touched)"
        id="error">
        <div>description is required</div>
    </div> -->