#pform{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    
     min-height: 100vh;}
    
    #form{
     display: flex;
     flex-direction: column;
     width: 40%;
    
     
    }
    
    #form div{
     display: flex;
    
    
    
    }
    #ptitle,#pdescription,#divtag,#button  {
   
       
        margin: 3px;
      
    }
    .ptags div{
     width: 100%;
    }
    #form div label{
        font-size: larger;
     width: 40%;
    margin-right: 5px;
     text-align: right;
    }
    #form div input{
        font-size: 20px;
        height: 30px;
     width: 100%;
     border:1px solid black;
     border-radius: 2px;
    }
    #button{
    
    display: flex;
    justify-content: flex-end;
    }
    
    #divtag{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 10px;
    }
    
     .dtags span{
    
     display:flex;
     background-color: rgb(179, 174, 174);
     margin: 5px;
     padding: 3px 8px;
     border-radius: 4px;
    
    }
    button{
        font-size: larger;
        height: 30px;
        
    }
    
    
    
    @media only screen and (max-width: 1071px) {
     #form div{
      display: flex;
     flex-direction: column;
     
     
     }
     #form div label{
      text-align: justify;
     }
     #ptags{
        display: flex;
    align-items: center;
    justify-content: center;
     }
     #button{
        width: 100%;
     }
    
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}