<div>
    <form formgroup="articleForm" (ngsubmit)="onSubmit()" >
        <p>
            <label for="title">title</label>
            <input type="text" id="title" name="title" formControlName="title">
        </p>
        <div *ngIf="!this.articleForm.title?.valid && (this.articleForm.title?.dirty ||this.articleForm.title?.touched)">
            <div [hidden]="!this.articleForm.title.errors.required">title is required</div>
        </div>

        <p>
            <label for="des">description</label>
            <input type="text" id="des" name="des" formControlName="description">
        </p>
        <div *ngIf="!this.articleForm.description.valid && (this.articleForm.description.dirty ||this.articleForm.description.touched)">
            <div [hidden]="!this.articleForm.description.errors.required">description is required</div>
        </div>

        <p>
            <label for="tags">tags</label>
            <input type="text" id="tags" name="tags" formControlName="description">
        </p>
    </form>
</div>