button{
    margin:5px;
}
#yourfeed{
background-color: white;
border-top: none;
border-left: none;
border-right: none;
}

#globalfeed{
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}