

button{
    margin:5px;
}
#cards{
    border-bottom: 1px solid black;
}

#user,#tag{
    display: flex;
    justify-content: space-between;
}

#tagflex{
    display: flex;
}
#tagflex span{
margin: 4px;
}
.active{
  
    background-color: greenyellow;
    border-right: none;
    border-left: none;
    border-top: none;
    
}

.inactive{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: white;
}
#body{
    width: 80%;
    margin: auto;
    display: flex;
  
}
#home{
    flex-grow: 3;
    padding: 15px;
}

.like-button{
    border: none;
    outline: none;
    background: none;
}
#popular-tag{
    flex-grow: 1;
    padding: 15px;
}

.like-active{
    background-color: rgb(0, 255, 0);
}