<hr>
<div id="body">
    <div id="home">
        <div>
            <div class="buttons">
                <button id="yourfeed" (click)="toggle('yourfeed')" [class.active]="activebutton=='yourfeed'&&!activetag"
                [class.inactive]="activebutton=='globalfeed' || activetag">your feed</button>
            <button id="globalfeed" (click)="toggle('globalfeed')" [class.active]="activebutton=='globalfeed'&&!activetag"
                [class.inactive]="activebutton=='yourfeed' || activetag">global feed</button>
            <button id="tagfeed" (click)="toggle('tagfeed')" [class.visible]="activebutton=='tagfeed'"
            [class.invisible]="activebutton!='tagfeed'" >#{{tag}}</button>
        </div>



            <div class="fit-card">
                <div id="card{{card.cardId}}" class="cards" *ngFor="let card of visibleItems.items">
                    <div id="user">
                        <div class="author-name">{{card.authorName}}||{{card.date|date:'dd/MM/yyyy'}}</div>
                        <div class="like-div"><button #like_button class="like-button" (click)="toggleLike(card.cardId)"
                                [attr.data-card-id]="card.cardId"><span>likes</span><span>{{card.likes}}</span></button>
                        </div>
                    </div>
                    <div id="title">
                        {{card.title}}
                    </div>
                    <div id="description">
                        {{card.description}}
                    </div>
                    <div id="tag">
                        <div [routerLink]="['/article',card.cardId]" style="cursor: pointer;">read more....</div>
                        <div id="tagflex">
                            <div *ngFor="let tag of card.tags"><span>{{tag}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper">
                <app-pagination [page]="page" [pageSize]="pageSize" [total]="visibleItems.total"
                    (pageemit)="pageemit($event)" (pagesizeemit)="pagesizeemit($event)"></app-pagination>


            </div>
        </div>
        <div>

        </div>
    </div>
    <div id="popular-tag">
        <div>popular tag</div>
        <div class="popular-tags">
            <span *ngFor="let tag of populartag" (click)="tagClick(tag)"> {{tag}}</span>
        </div>
    </div>
</div>